<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>jjwxc4kindle</title>
  </head>
  <body>
    {% if 'nickname' in request.cookies %}
    <p>已登陆为{{ request.cookies['nickname'] }}</p>
    {% else %}
    <form method="post" action="/login/wapLogin">
      用户名: <input type="text" name="loginname" id="loginname"/>
      密码: <input type="password" name="loginpass" id="loginpass"/>
      <input type="submit" name="submit" value="登录">
    </form>
    {% endif %}
    {% autoescape false %}
    {{ content }}
    {% endautoescape %}
  </body>
</html>
